/* .container {
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.chat-box {
  height: 50vh;
  width: 100%;
  padding: 1em;
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 1px solid black;
  margin-top: 1em;
  width: 50vw;
}

.form input[type='text'] {
  width: 100%;
  height: 2em;
  padding: 0.5em;
} */
